.pure-button-selected,.pure-button-not-selected {
	color: white !important;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	margin: auto;
	display: block !important;
}

.pure-button-selected {
	background: rgb(28, 184, 65) !important; /* this is a green */
}

.pure-button-not-selected {
	background: rgb(66, 184, 221) !important; /* this is a light blue */
}

.final-answer {
	margin-top: 20px;
	width: 50%;
}