@CHARSET "ISO-8859-1";

.arrow {
	margin: auto;
	width: 64px;
}

.answer {
	margin: auto;
	width: 100px;
	border: 1px solid #000;
	border-radius: 6px;
	text-align: center;
	cursor: pointer;
	background-color: #ffdbad;
}

@external .selected;
.selected {
	background-color: #ffb251;
}